<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"> </header>
<body>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<ul class="list-group">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">ID</label> <label
							class="col-sm-6 col-form-label text-white bg-dark" th:text="${datos.id}"></label>
					</div>

					<div class="form-group row ">
						<label class="col-sm-2 col-form-label">NOMBRE EMPRESA</label> <label
							class="col-sm-6 col-form-label text-white bg-dark" th:text="${datos.nombre}"></label>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">NIT</label> <label
							class="col-sm-6 col-form-label text-white bg-dark" th:text="${datos.nit}"></label>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">NRC</label> <label
							class="col-sm-6 col-form-label text-white bg-dark" th:text="${datos.nrc}"></label>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">REPRESENTANTE</label> <label
							class="col-sm-6 col-form-label text-white bg-dark" th:text="${datos.nomb_representante}"></label>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">MONEDA</label> <label
							class="col-sm-6 col-form-label text-white bg-dark" th:text="${datos.moneda.getCodigo()}"></label>
					</div>

				</ul>
			</div>
		</div>

	</div>

</body>

<footer th:replace="layout/layout :: footer"></footer>

</html>