<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"> </header>

	<div class="container py-4">
		<div class="card bg-light">

			<h1 th:text="${titulo}"
				class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>

			<div th:object="${datos}" th:remove="tag">
				<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
					<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
				</ul>
			</div>

			<div class="card-body">
				<form th:action="@{/inventario/form}" th:object="${datos}"
					method="post">


					<div class="form-group row" hidden="true">
						<label class="col-sm-2 col-form-label">Id</label>
						<div th:if="${#fields.hasErrors('*')}">errors</div>
						<div class="col-sm-10">
							<input type="hidden" th:field="*{id}" class="form-control"
								placeholder="Id" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">EMPRESA</label>
						<div class="col-sm-10">
							<select th:field="*{empresa}" class="form-control"
								th:errorclass="'form-control alert-danger'">
								<option th:each="Item : ${empresatipos}" th:value="${Item.id}"
									th:text="${Item.nombre}" th:selected="false" />

							</select>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">CODIGO ACTIVO</label>
						<div class="col-sm-10">
							<input type="text" th:field="*{codigo}" class="form-control"
								placeholder="Codigo del Activo Fijo"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">DESCRIPCION</label>
						<div class="col-sm-10">
							<input type="text" th:field="*{descripcion}" class="form-control"
								placeholder="Descripcion del Activo Fijo"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('descripcion')}"
								th:errors="*{descripcion}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">COMENTARIOS</label>
						<div class="col-sm-10">
							<input type="text" th:field="*{comentarios}" class="form-control"
								placeholder="Comentarios del Activo Fijo"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('comentarios')}"
								th:errors="*{comentarios}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">COSTO ADQUISICION</label>
						<div class="col-sm-10">

							<input type="number" th:field="*{costoadquisisicion}" class="form-control"
								placeholder="Costo de compra del Activo" step="any"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('costoadquisisicion')}"
								th:errors="*{costoadquisisicion}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">ESTADO</label>
						<div class="col-sm-10">

							<select th:field="*{estado}" class="form-control"
								th:errorclass="'form-control alert-danger'">
								<option
									th:each=" state: ${T(innotech.com.sv.modelos.EstadosEnum).values() }"
									th:value="${state}" th:text="${state}"></option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">HABITACION ASIGNADA</label>
						<div class="col-sm-10">
							<select th:field="*{habitacion}" class="form-control"
								th:errorclass="'form-control alert-danger'">
								<option value="">-</option>
								<option th:each="Item : ${habitaciones}" th:value="${Item.id}"
									th:text="${Item.codigo}" th:selected="false" />

							</select>
						</div>
					</div>

					<div>
						<input type="submit" value="Crear Activos" class="btn btn-primary" />

					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>