<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head th:replace="layout/layout :: head">


</head>
<body>
	
	<header th:replace="layout/layout :: header"> </header>

	<div class="container-fluid  py-4" >
		<div class="card bg-light">
			
			<h1
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>
			
			<div class="card-body" >

				<h4 class= "card-title">
				 <a th:href="@{/tiposhabitacion/form}" class= "btn btn-primary btn-xs" >Crear TiposDeHabitacion</a>
				 <!-- <a class="btn btn-success btn-xs float-right" th:href="@{'/promocion/export/excel'}">XLS</a> -->
				</h4>
			 <div class="table-responsive">		
				<table class="table table-striped ">
					<thead>
						<tr>
							<th>ID</th>
							<th>EMPRESA</th>
							<th>PROMOCION</th>
							<th>DESCRIPCION</th>
							<th>PRECIO DIA</th>
							<th>PRECIO SEMANA</th>	
							<th>PRECIO MES</th>
							<th>EDITAR</th>
							<th>ELIMINAR</th>		 					
						</tr>
					</thead>
					<tbody>
					 
						<tr th:each="dato: ${datos}">							
							<td> <a class="btn btn-primary btn-xs bg" th:href="@{/tiposhabitacion/ver/} + ${dato.id}" th:text="${dato.id}"> </a>   </td>
							<td th:text="${dato.empresa.nombre}"></td>
						 	<td>
						 	   <th:block th:if="${dato.promocion != null}" th:text="${dato.promocion.descripcion}"></th:block>
                               <th:block th:unless="${dato.promocion}"></th:block>
						 	</td>
							<td th:text="${dato.descripcion}"></td>
						    <td th:text="${dato.preciodia}"></td>
							<td th:text="${dato.preciosemana}"></td>
							<td th:text="${dato.preciomes}"></td>
							<td><a class="btn btn-primary btn-xs" th:href="@{/tiposhabitacion/form/} + ${dato.id}" th:text="'EDITAR'" ></a></td>
					        <td><a class="btn btn-danger btn-xs" th:href="@{/tiposhabitacion/eliminar/} + ${dato.id}" th:text="'ELIMINAR'"					      
					        onclick="     return confirm('Estas seguro que quieres eliminar?');"  ></a></td>  
						</tr>
					
					</tbody>
				</table>
			</div>	
			     <nav th:replace="layout/paginator-nav :: paginator"></nav>
			</div>

		</div>
	</div>

</body>

<footer th:replace="layout/layout :: footer"></footer>


</html>